.momo-img {
	display: inline-block !important;
	float: none !important;
	height: 100px !important;
	width: 100px !important;
	max-height: 100px !important;
	max-width: 100px !important;
	min-height: 100px !important;
	min-width: 100px !important;
}

.momo-cashapp a,
a:before,
a:after,
a:hover,
a:active {
	content: none;
	text-decoration: none;
}
